.ant-menu-item {
  text-align: start;
  font-size: 16px;
  align-items: center;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-menu-light .ant-menu-item-selected {
  background-color: #ff7506;
  color: white;
}

.sider-logo {
  width: 100%;
  padding: 20%;
}
.sider-button {
  margin-left: 5%;
  margin-right: 5%;
  text-align: start;
  border: var(--orange-orange-50, #fff2e7) solid 1px;
  background: var(--orange-orange-50, #fff2e7);
  border-radius: 8px;
  height: max-content;
}
.sider-button-image {
  margin-right: 5%;
}
